@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
       body {
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            font-family: 'Agbalumo', Arial, sans-serif;
            justify-content: center;
            text-align: center;
            margin: 0;
            color: white;
            background: url(img/TOOL.png) no-repeat;
            background-size: cover;
            background-position: center;
            padding: 0;
        }
        #board {
            border-radius: 40px;
            color: black;
            background: transparent;
            padding: 10px 20px;
            backdrop-filter: blur(10px);
            border: 2px solid black;
        }

        form label{
            color: #c3951b;
            box-shadow: 0 0 20px #c3951b;
        }
        select {

            color: #c3951b;
            box-shadow: 0 0 10px #a0d52f;
        }

        #notification {
            display: none;
      position: absolute;
      top: 70%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 20px;
      background-color: #000;
      color: #FFF;
      border-radius:25px 50px 25px 50px;
      z-index: 10;
      text-align: center;
      border: 1px solid black;
   box-shadow: 0px 0px 20px rgb(22,33,69);
   backdrop-filter: blur(9px);
   background: transparent;
   text-shadow: 0 0 10px rgb(22,33,69);
font-family: "Fugaz One", sans-serif;
        }

        .footer {
          margin-top:20px;
           margin-bottom: 20px;
            margin-left:15px;
            text-align: center;
            display: flex;
            border:2px solid black;
            background: transparent;
            border-radius: 40px 20px 40px 20px;
            backdrop-filter: blur(10px);
            padding: 10px;
            width: 85%;
            box-shadow: 0 0 10px black;
        }

        #disqus_thread {
            background: transparent;
            padding: 10px 20px;
            border-radius: 40px;
            border: 2px solid black;
            backdrop-filter: blur(10px);
            box-shadow: 0 0 10px black;
        }

        .footer-title {
            background: linear-gradient(45deg,#52d13f,#5a2912);
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
            border-radius: 10px;
            margin-left: 5%;
        }

        h2{
          background: linear-gradient(45deg,#008000,#8B4513);
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
        }

             .header {
            text-align: center;
        }

        .header img.SIZE {
            border-radius: 50%;
            width: 110px;
            height: 110px;
            box-shadow: 0px 0px 10px black;
        }
       #container{
  position: fixed;
  top: 120px; /* يضع الإشعار خارج الشاشة في البداية */
  left: 50%;
  width:70%;
  height:auto;
  transform: translateX(-50%);
  border: 1px solid black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: top 1s ease;
  background: #172033;
            padding: 15px 30px;
            border-radius: 60px 30px 60px 30px;
            z-index:20;
            font-family: "Bebas Neue", sans-serif;
            display: none;
        }

#container-content {
  font-size:18px;
}
.secretWord-header,
.container-header{
  border:none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 20px 50px;
  background: repeating-conic-gradient(from var(--a), #1481a6 0% , #1481a6 5% , transparent 5%, transparent 40%, #1481a6 50%);
  animation:animate 4s linear infinite;
  border-radius: 60px 30px 60px 30px;
  z-index:-1;
}
@property --a {
  syntax:'<angle>';
  inherits:false;
  initial-value:0deg;
}
@keyframes animate{
  0%{
    --a:0deg;
  }
  100%{
    --a:360deg;
  }
}
.secretWord-header::before,
.container-header::before{
  content:'';
  position: absolute;
  width:100%;
  height:100%;
  background: repeating-conic-gradient(from var(--a), #750c8a 0% , #750c8a 5% , transparent 5%, transparent 40%, #750c8a 50%);
  animation:animate 4s linear infinite;
  animation-delay: -1s;
  border-radius: 60px 30px 60px 30px;
  z-index: -1;
}
.secretWord-header::after,
.container-header::after{
  content:'';
  position: absolute;
  inset:8px;
  border-radius: 60px 30px 60px 30px;
  border:8px solid #172033;
  background: #2d2d39;
  z-index:-1;
}
#container-content p {
  text-align: center;
  size:12px;
  background: linear-gradient(45deg,#1481a6, #1481a6,#1481a6, #1481a6, #750c8a,#750c8a ,#cc0e60, #cc0e60);
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
            background-size: 300% 300%;
            padding: 10px;
            border-radius: 10px;
            animation: gradientMove 5s linear infinite;
        }
#container-content h4 {
  color: red;
  text-align: left;
  size:16px
}
#container-content h5 {
  color: #c5c5c5;
  text-align: left;
  font-size:14px;
  font-family: "Acme", sans-serif;
  font-weight: 400;
  font-style: normal;
}
#close-btnSW,
#close-btn{
  margin-top:15px;
  vertical-align: bottom;
  font-family: "Poetsen One", sans-serif;
        cursor: pointer;
        background: #394e7b;
            padding: 10px 20px;
            border-radius: 60px 30px 60px 30px;
            border:3px solid #394e7b;
            box-shadow: 0px 0px 30px 5px #394e7b;
            color:#7283a8;
            }
#close-btn:hover{
  background: #3a67c7;
            border:3px solid #3a67c7;
            box-shadow: 0px 0px 30px 5px #3a67c7;
            color:#628deb;
}
            .container-img{
              border:solid 4px #bebebe ;
              box-shadow:0px 0px 50px 10px #636363;
              border-radius: 60px 30px 60px 30px;
              width:90%;
              b
            }
 ul {
    list-style-type: none;
}

li::before {
    content: "🎉";
    margin-right: 0.2em;
    font-size:9px;
    float: left;
    color:#0fa3bd;
}
.copy {
  background-color: transparent;
  border: 2px solid #4CAF50;
  color: #4CAF;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border-radius: 30px;
}

@keyframes slideBg {
  from {
    background-position: left bottom;
  }
  to {
    background-position: right bottom;
  }
}

.copy:hover::before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, transparent 50%, #4CAF50 50%);
  background-size: 200% 100%;
  animation: slideBg 1s linear infinite;
}
